
$colorOne: #ff5e62;
$colorTwo: rgb(97, 0, 53);
$containerColor: rgba(255, 255, 255, 0.089);
$contiainerHighlight: rgba(255, 255, 255, 0.3);
$boxShadow: 0px 0px 30px $colorTwo;
$boxBorder: 10px;

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    height: 100vh;
    background: linear-gradient($colorOne, $colorTwo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    .container {
        width: 70%;
        height: 70%;
        background-color: $containerColor;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: $boxShadow;
        border-radius: $boxBorder;
        .row {
            display: flex;
            align-items: center;
            .label {
                background-color: rgba(255, 255, 255, 0.089);
                padding: 10px;
                margin: 5px 0px 5px 10px;
                width: 40%;
                font-size: 25px;
                text-align: center;
                border-radius: $boxBorder;
                transition: background-color 0.3s;
            }
            .label:hover {
                background-color: $contiainerHighlight;
                cursor: pointer;
            }
            .field {
                margin: 0px 40px;
                font-size: 20px;
                text-transform: capitalize;
            }

        }
        
    }
    .header {
        margin-bottom: 30px;
        background-color: $containerColor;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
        box-shadow: $boxShadow;
        border-radius: $boxBorder;
    }
    .btn {
        background-color: $containerColor;
        padding: 20px;
        font-size: 30px;
        margin-top: 30px;
        border-radius: $boxBorder;
        box-shadow: $boxShadow;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .btn:hover{
        background-color: $contiainerHighlight;
    }
}
